/.DS_Store
/.bundle
/log/*.log
/tmp/**/*
/config/database.yml
/config/initializers/twitter.rb
/config/environments/production.rb
/config/environments/development.rb
/public/system/

Capfile

config/deploy.rb

lib/tasks/bbgem.rake

config/bufferapp.yml

brightbox-key

brightbox-key.pub

rails@lichfield-001.vm.brightbox.net


-/Users/stuart/Do/balti-2000-tamworth.pdf

-/Users/stuart/Downloads/balti-2000-tamworth.pdf

balti-2000-tamworth.pdf

wget-log

config/environments/._development.rb

config/environments/._production.rb

hmmmmmmmm.png

-P

1.png

2.png

3.png

config/foursquare.yml

/current/

.DS_Store

/.env
