/.DS_Store
/.bundle
/log/*.log
/tmp/**/*
/config/database.yml
/config/initializers/twitter.rb
/config/environments/production.rb
/config/environments/development.rb

Capfile

config/deploy.rb

lib/tasks/bbgem.rake

lib/urlshortener.rb

config/bufferapp.yml

brightbox-key

brightbox-key.pub

rails@lichfield-001.vm.brightbox.net

