- pagetitle "Page not found", false
.row#fullwidth
	.span12
		%h2 Page not found
		:markdown
			Sorry, the page you have tried to access cannot be found. The site has recently undergone a major rebuild, so some things have moved.
			
			If you have tried to access details of an inspection, and it is no longer here, then it may be that the business has closed down, or is awaiting reinspection. 
			
			To view other inspection reports, visit our [search page](/inspections/search).
