- pagetitle "Ooops!", false
.row#fullwidth
	.span12
		%h2 Ooops!
		:markdown
			Sorry, we seem to be having a few problems. Please try refreshing this page and try again.
			
			If you are still experiencing problems, please email [webmaster@lichfielddc.gov.uk](mailto:webmaster@lichfielddc.gov.uk) with details of the page which is causing you problems.
