- title "About", false
.row#fullwidth
	.span12
		%h2 About
		%p Ratemyplace is a partnership between Staffordshire local authorities to publish details of food safety inspections across the county.
		
		%p The system is based on a star rating, which is calculated by taking into account how hygienic the premises are, whether they take into account recognised food hygiene practices and how much confidence the inspector has in the management to keep their premises up to standard.
		%p Ratemyplace also aims to be a useful resource for food businesses, giving useful information about the location of the premises, what type of food it serves as well as giving you a map and driving directions to the business.
		
		%p If you run a food premises, and are not happy with the rating you have been given, you have the right to reply. Simply search for your business and click on the 'Right to reply' button. Your comments may also be published on the site.
		
		%p You can also download the ratemyplace policy document which gives more details, together with some background information about the scheme.
		
		%p Any more questions? Get in touch.

