- pagetitle "About", false
.row#fullwidth
	.span12
		%h2 About
		:markdown
			Ratemyplace is a partnership between the majority of Staffordshire local authorities to publish details of food safety inspections reports and hygiene rating scores across the county.

			Ratemyplace has aligned itself with the [national food hygiene rating scheme](http://ratings.food.gov.uk/), which is calculated by taking into account how hygienic the premises are, whether they take into account of recognised food hygiene practices and how much confidence the inspector has in the management to keep their premises up to standard.

			Ratemyplace also aims to be a useful resource for food businesses, giving useful information about the location of the premises, what type of food it serves as well as giving you a map, driving directions to the business and menu details.

			If you operate a food premises, and are not happy with the rating you have been given, you have the right to appeal [download an appeal form](http://www.food.gov.uk/multimedia/worddocs/fhrsappealform.doc).

			The owner or manager of the business also has a 'right to reply'. This is different from an appeal. The owner or manager can [download a right to reply form](http://www.food.gov.uk/multimedia/worddocs/fhrsrighttoreplyform.doc) and send it to their local authority to tell the food safety officer how the business has improved hygiene, or to say if there were unusual circumstances at the time of the inspection. A business’s right to reply will be published online by the local authority with the business’s hygiene rating.

			If you make improvements to hygiene standards that the local authority food safety officer told you about at your last planned inspection you can ask for a re-visit before the next planned inspection so that the hygiene standards can be reassessed with a view to giving you a new and higher food rating. [Download the request for a re-visit form](https://www.food.gov.uk/sites/default/files/fhrs-re-visit-form.doc).

			You can also [download the brand standard for the national food hygiene rating scheme](http://www.food.gov.uk/enforcement/enfcomm/fhrssteeringgroup/hygieneratingsguidance/) which gives more details, together with some background information about the scheme.

			Any more questions? [Get in touch](/contact).
