- title "Frequently Asked Questions", false
.row#fullwidth
	.span12
		%h2 Frequently Asked Questions
	
		%dl#faq
			%dt{"data-toggle" => "collapse", "data-target" => "#q1"} What is Ratemyplace?
			%dd#q1.collapse.in 
				.inner Ratemyplace is a partnership between 8 local authorities in Staffordshire and is designed to show how we feel businesses are run in accordance with their legal obligations under food law and where areas of improvements in food safety are possible. The Scheme will enable consumers to access information which is held about food premises registered with their Local Authorities.
				
			%dt{"data-toggle" => "collapse", "data-target" => "#q2"} Is there the public support for a food safety rating scheme?
			%dd#q2.collapse 
				.inner Research by the Consumers Association in 2005 revealed that almost everybody (97 per cent) feels that they're entitled to know how their local restaurants score for hygiene. Seven out of eight (87 per cent) people want to see this information before they enter a restaurant - so called 'scores on doors' - and nine out of ten (90 per cent) think scores should be available online.
				
			%dt{"data-toggle" => "collapse", "data-target" => "#q3"} What type of business does Ratemyplace apply to?
			%dd#q3.collapse 
				.inner It will apply to all registered food premises in Staffordshire Partner Councils areas that prepare, cook, serve or sell food. This includes premises like restaurants, supermarkets, farm shop, manufacturers etc.
			
			%dt{"data-toggle" => "collapse", "data-target" => "#q4"} Are there any businesses not part of the scheme?
			%dd#q4.collapse 
				.inner Low risk businesses such a greengrocers not selling high risk food, newsagents selling sweets etc. that are not part of the inspection programme will not receive a star rating.
				
			%dt{"data-toggle" => "collapse", "data-target" => "#q5"} How is Ratemyplace scored?
			%dd#q5.collapse
				.inner
					Food Authorities operate a system for prioritising the food hygiene inspections they carry out (Annex 5
					%a{:href => "http://www.food.gov.uk/multimedia/pdfs/codeofpracticeeng.pdf"}
						Food Law Code of Practice
					) At the end of each inspection, carried out by qualified and competent Environmental Health staff, the business is given a score called a food hazard rating. This reflects (amongst other things) how well the business complies with food law and how much confidence we have in the food operators ability to manage the business safely.
			
			%dt{"data-toggle" => "collapse", "data-target" => "#q6"} What does the mean?
			%dd#q6.collapse 
				.inner The more stars that are rewarded the better the premises are in terms of legal compliance and standards of hygiene. The score and star rating published through Ratemyplace scheme, represents the circumstances found by an officer of the inspecting local authority on the date of that inspection. This 'moment in time' score may not represent the overall, long-term food hygiene standards of the business or its food quality.
				
			%dt{"data-toggle" => "collapse", "data-target" => "#q7"} Where can I see the star rating scores for businesses?
			%dd#q7.collapse 
				.inner The scheme is accessible through Ratemyplace web site or Links from individual Council's websites. Businesses may also display a Ratemyplace star rating certificate containing information about the inspection and the amount of stars awarded. However, there is no formal requirement to do so.
			
			%dt{"data-toggle" => "collapse", "data-target" => "#q8"} Why isn't my local food premise on Ratemyplace website?
			%dd#q8.collapse 
				.inner If no inspection information is available on Ratemyplace website, then it may be because the business has not received its latest primary inspection or that details haven’t been uploaded yet.
			
			%dt{"data-toggle" => "collapse", "data-target" => "#q9"} What does the Trading Standards Compliance tick mean?
			%dd#q9.collapse 
				.inner On Ratemyplace site you may see a 'green tick' by the words Trading Standards Compliance. Businesses are offered a Trading Standards Compliance Certificate when they are found to be complying with relevant Trading Standards law during an inspection.  During an inspection checks are made to ensure that menu descriptions of food are not misleading, prices are appropriately displayed and that equipment used for serving beer wine and spirits is accurate, along with other checks for legal compliance.  
				
			%dt{"data-toggle" => "collapse", "data-target" => "#q10"} What other information appears on the website about the business?
			%dd#q10.collapse 
				.inner On the website you will also find information such as contact telephone numbers and e-mail addresses for the business. In addition to this, you may also see a location map and be able to get directions to the business.
				
			%dt{"data-toggle" => "collapse", "data-target" => "#q11"} Are there any other food safety rating Schemes in Staffordshire?
			%dd#q11.collapse
				.inner 
					Stoke on Trent and Staffordshire Moorlands operate similar food hygiene rating schemes with information on food premises. Links to their sites are available on our
					= succeed "." do
						%a{:href => "links"} links section
						
			%dt{"data-toggle" => "collapse", "data-target" => "#q12"} What if a business disagrees with the star rating?
			%dd#q12.collapse 
				.inner The rating is based on a professional officer’s inspection and will not normally be changed. However, if a business believes it has not been treated fairly, then an appeal can be made in writing either through the comments link on Ratemyplace web site or in writing to the appropriate Local Authority within 2 weeks of the inspection. This would then trigger a paper review of the inspection by a Senior Officer to confirm the accuracy of the risk rating.
				
			%dt{"data-toggle" => "collapse", "data-target" => "#q13"} How do I know if the certificate on display is	valid and genuine?
			%dd#q13.collapse 
				.inner Following a food hygiene inspection the previous	certificate will be collected by the inspecting officer and destroyed. Each	certificate has a unique	number on the front of the certificate. The	certficate remains the property of the issuing Council and can be withdrawn at	any time. In addition, the website will offer a list of food businesses	and their scores.
			%dt{"data-toggle" => "collapse", "data-target" => "#q14"} Can I comment on the scheme?
			%dd#q14.collapse
				.inner
					Food business operators and the public can comment on the scheme to their Local Authority using our
					= succeed "." do
						%a{:href => "contact.php"} contact form

			%dt{"data-toggle" => "collapse", "data-target" => "#q15"} I want some more information about the scheme?
			%dd#q15.collapse
				.inner
					Contact your Local Environmental Health Department using our
					%a{:href => "contact-us"} contact form
					or visit our
					= succeed "." do
						%a{:href => "about"} about section