- pagetitle "Links", false
.row#fullwidth
	.span12
		:markdown
			Links
			-----

			Below are a few useful links to food safety-related sites. If you can’t
			see a site listed that you think might be useful, please get in touch
			via our [contact form][] and let us know.

			### Food Authorities in Staffordshire

			-   [Staffordshire Trading standards][]
			-   [Lichfield District Council][]
			-   [Cannock District Council][]
			-   [East Staffordshire Borough Council][]
			-   [Stafford Borough Council][]
			-   [Stoke on Trent City Council][]
			-   [Tamworth Borough Council][]
			-   [Staffordshire Moorlands District Council][]
			-   [Newcastle under Lyme Borough Council][]
			-   [South Staffordshire Council][]

			### Advisory bodies

			-   [The Food Standards Agency][]
			-   [Defra][]
			-   [Department of Health][]
			-   [Chartered Institute of Environmental Health][]

			### Legislation and Guidance

			-   [Access to European law][]
			-   [Food Law Code of Practice (England)][]
			-   [Food Law Code of Practice Guidance][]
			-   [Better Regulation Delivery Office][]

			### Links for food businessess

			-   [Safer food, better business][]

			### Other

			-   [A Taste of Staffordshire Food Awards][]
			-   [Food link][]
			-   [Food Guide Pyramid][]
			-   [National Food Hygiene Rating Scheme][]

			  [contact form]: http://www.ratemyplace.org.uk/contact.php
			  [Staffordshire Trading standards]: http://www.staffordshire.gov.uk/business/tradingstandards/
			  [Lichfield District Council]: http://www.lichfielddc.gov.uk
			  [Cannock District Council]: http://www.cannockchasedc.gov.uk
			  [East Staffordshire Borough Council]: http://www.eaststaffsbc.gov.uk
			  [Stafford Borough Council]: http://www.staffordbc.gov.uk/
			  [Stoke on Trent City Council]: http://www.stoke.gov.uk/ccm/portal/
			  [Tamworth Borough Council]: http://www.tamworth.gov.uk/
			  [Staffordshire Moorlands District Council]: http://www.staffsmoorlands.gov.uk/site/index.php
			  [Newcastle under Lyme Borough Council]: http://www.newcastle-staffs.gov.uk/
			  [South Staffordshire Council]: http://www.sstaffs.gov.uk/
			  [The Food Standards Agency]: http://www.food.gov.uk/
			  [Defra]: http://www.defra.gov.uk/
			  [Department of Health]: http://www.dh.gov.uk/Home/fs/en
			  [Chartered Institute of Environmental Health]: http://www.cieh.org/
			  [Access to European law]: http://eur-lex.europa.eu/
			  [Food Law Code of Practice (England)]: http://www.food.gov.uk/sites/default/files/Food%20Law%20Code%20of%20Practice%20-%202015_1.pdf
				[Food Law Code of Practice Guidance]: http://www.food.gov.uk/sites/default/files/Food%20Law%20Practice%20Guidance%20October%202015%20-%20FINAL%20.pdf
				[Better Regulation Delivery Office]: http://www.bis.gov.uk/brdo
			  [Local Government Regulation]: http://www.lacors.gov.uk/lacors/home.aspx
			  [Safer food, better business]: http://www.food.gov.uk/foodindustry/regulation/hygleg/hyglegresources/sfbb/sfbbcaterers/
			  [A Taste of Staffordshire Food Awards]: http://www.enjoystaffordshire.com/taste-of-staffordshire/
			  [Food link]: http://www.foodlink.org.uk/
			  [Food Guide Pyramid]: http://www.foodguidepyramid.co.uk
			  [Breathe Easy Award]: http://www.staffordshire.gov.uk/health/healthdevelopment/nurturingawards/breathe/
			  [National Food Hygiene Rating Scheme]: http://ratings.food.gov.uk/
