<% title "Edit Inspection", false %>

<div class="row" id="fullwidth">
	<div class="span12">
	<h2>Edit Inspection</h2>
	<%= render 'form' %>
	
	<%= link_to 'Show', @inspection %> |
	<%= link_to 'Back', inspections_path %>
	</div>
</div>